<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "stylesheet" href = "static/home.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PR Tracker</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&display=swap" rel="stylesheet">

</head>
<body>

<div class="bg"></div>
<div class="blob"></div>

<div class="content">
  <div class="eyebrow">Personal Record Tracker</div>

<div class = "logo-anim" id = "logo-anim">
    <a href = "/app"> 
        <img src = "/static/dumbbell.png" alt = "Dumbell" />
    </a>
</div>

  <div class="quote" id="quote"></div>

<div class="bottom">Developed by Tommy</div>

<script>
  const quotes = [
    "'Everyting negative - pressure, challenges - is all an opportunity for me to rise.' ― Kobe Bryant",
    "'Talent without working hard is nothing' - Cristiano Ronaldo",
    "'Don't be afraid of failure. This is the way to succeed' - LeBron James",
    "'The last three or four reps is what makes the muscle grow.' -Arnold Schwarzenegger",
    "'The day you think there is no improvement to be made, is a sad one.' -Lionel Messi",
  ];

  // Pick a random quote
  document.getElementById('quote').textContent =
    quotes[Math.floor(Math.random() * quotes.length)];


  input.addEventListener('input', () => {
    const name = input.value.trim();
    localStorage.setItem('pr_name', name);
    btn.textContent = name ? `Let's Go, ${name}` : 'Start Tracking';
  });
</script>

</body>
</html>